.input-div {
    background-color: #60be5d;
    color: white;
    font-weight: 500;
    padding: 0 1rem;
    margin: 0.5rem 1rem;
    border-radius: 6px;
}

ion-toolbar {
    --border-color: transparent;
}

ion-title {
    --color: #60be5d;
}