<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PharmHelper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PharmHelper</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides #slider pager="false" [options]="slideOpts">
    <ion-slide>
      <div  class="slide-content">
        <div class="input-div">
          <ion-input 
            autocorrect="true" 
            style="text-align: start; padding: 0 1rem !important; height: 3rem;" 
            placeholder="Введите симптом"
            [(ngModel)]="input"
            (ionChange)="search()"
            (ionFocus)="autocompleteFocus = true"
            (ionBlur)="autocompleteFocus = false"
            ></ion-input>
          <div class="autocomplete" *ngIf="autocomplete.length > 0 && input.length > 0 && autocompleteFocus">
            <span class="autocomplete-item" *ngFor="let item of autocomplete">{{ item.name }}</span>
          </div>
        </div>
        <div class="slide-added">
          ...
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-button (click)="swipeNext()" color="primary">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-fab>
</ion-content>
