<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PharmHelper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PharmHelper</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides #slider pager="false" [options]="slideOpts">
    <ion-slide>
      <div  class="slide-content">
        <div class="input-div">
          <ion-searchbar
            autocorrect="true" 
            class="search-input"
            placeholder="Введите симптом"
            [(ngModel)]="gP.symptInput"
            (ionChange)="search()"
            ></ion-searchbar>
          <div class="autocomplete" *ngIf="autocomplete.length > 0 && gP.symptInput.length > 0">
            <span class="autocomplete-item" (click)="presentModal(item.id)" *ngFor="let item of autocomplete">{{ item.name }}</span>
          </div>
        </div>
        <div class="slide-added">
          <ion-list>
            <ion-item *ngFor="let sub of gP.addedSymptoms; index as i;">
              <ion-icon slot="end" (click)="dellAdded(i, sub.parentID)" class="sub-trash" name="trash-outline"></ion-icon>
              <ion-label>{{ sub.sub.name }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="questions-content">
        <h3>Беспокоят ли Вас следующие симптомы?</h3>
      <ion-card *ngFor="let item of gP.questionSympts">
        <ion-card-header>
          <ion-card-subtitle>{{ item.name }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ item.description }}</ion-card-content>
        <ion-checkbox [(ngModel)]="item.state" color="primary"></ion-checkbox> 
      </ion-card>
      </div>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
  <ion-fab *ngIf="gP.activeSlide > 0" horizontal="start" vertical="bottom" slot="fixed">
    <ion-button (click)="swipePrev()" color="primary">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-fab>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-button [disabled]="gP.addedSymptoms.length < 1" (click)="swipeNext()" color="primary">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-fab>
</ion-content>
