<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PharmHelper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PharmHelper</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides #slider pager="false" [options]="slideOpts">
    <ion-slide>
      <div  class="slide-content">
        <div class="input-div">
          <ion-input autocorrect="true" style="text-align: start;" placeholder="Введите симптом"></ion-input>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-button (click)="swipeNext()" class="slide-next" color="primary">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-fab>
</ion-content>
