.slide-content {
    width: 100%;
    padding: 0 1rem;
    height: 100%;
}

.input-div {
    background-color: #60be5d;
    color: white;
    font-weight: 600;
    margin: 1rem auto;
    width: 100%;
    border-radius: 10px;
    height: 3rem;
    z-index: 999;
    .search-input {
        text-align: start; 
        height: 3rem;
        --background: transparent;
        padding: 0 0.5rem;
        --color: white;
        --icon-color: white;
        --clear-button-color: white;
        --cancel-button-color: white;
    }
    .autocomplete {
        position: relative;
        top: -1rem;
        padding: 1rem 0;
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        background-color: #60be5d;
        border-radius: 0 0 10px 10px;
        z-index: 998;
        .autocomplete-item {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding: 0.6rem 1rem;
            transition: .4s;
            text-align: start;
        }
        .autocomplete-item:hover {
            background-color: #488d45;
        }
    }
}

.sub-trash {
    color: #60be5d;
    transform: scale(0.9);
}

ion-toolbar {
    --border-color: transparent;
}

ion-title {
    --color: #60be5d;
}

ion-slides {
    height: calc(100% - 75px);
}