<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Поиск лс
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Поиск ЛС</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="search-container">
    <div class="btn">
      <span class="big-btn" [ngClass]="{'btn-active':recognizeState}" (click)="bigBtn()">
        <ion-icon name="mic-outline"></ion-icon>
      </span>
    </div>
  </div>
</ion-content>
