<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <h3 class="sympt-title">{{ data.sympt.name }}</h3>
  <ion-card *ngFor="let item of data.sympt.sub" (click)="addSub(item)">
    <ion-card-header>
      <ion-card-subtitle>{{ item.name }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{ item.description }}</ion-card-content>
  </ion-card>
</ion-content>