ion-toolbar {
    --border-color: transparent;
}

ion-card-subtitle {
    --color: #60be5d;
    font-weight: 600 !important;
    font-size: 1rem !important;
}

.sympt-title {
    margin-left: 1.1rem;
    color: #60be5d;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;    
}

ion-card-content {
    text-align: justify;
}